{% extends 'base.html' %}
{% block contenido %}     
<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 mt-5">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Cerrar sesión</h4>
            <p>¿Estás seguro de que deseas cerrar sesión?</p>
            <form>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Cerrar sesión</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div> 
{% endblock contenido %}        
