{% extends 'base.html' %}
{% block contenido %}
<div class="container">
    <h1>Mis Publicaciones</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Título de la publicación 1</h5>
            <p class="card-text">Descripción de la publicación 1.</p>
            <a href="#" class="btn btn-primary">Leer más</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Título de la publicación 2</h5>
            <p class="card-text">Descripción de la publicación 2.</p>
            <a href="#" class="btn btn-primary">Leer más</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock contenido %}
  